# URL base del backend (SIN /api). Ejemplos:
# VITE_BACKEND_URL=http://localhost:4000
# VITE_BACKEND_URL=https://tu-backend.com
VITE_BACKEND_URL=http://localhost:4000

# MongoDB Atlas (para Vercel Serverless Functions)
# Ejemplo:
# MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/apv?retryWrites=true&w=majority
MONGODB_URI=

# (Opcional) si quieres forzar el nombre de la DB, si no viene en el URI
MONGODB_DB=apv

# JWT para autenticar (pon uno largo y aleatorio en Vercel)
JWT_SECRET=
